/* Пример стилей CSS */
body {
    background-color: #95a5ff;
    background-image: linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), 
                      linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), 
                      linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), 
                      linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), 
                      linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), 
                      linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}

/* Стили для основного контейнера Streamlit */
.stApp {
    background: none;
    padding-top: 0; /* Уберите отступ сверху у основного приложения */
}

.main .block-container {
    background-color: #FFFFFF;  /* Установите непрозрачный белый цвет */
    border-radius: 10px;
    padding: 20px;
    max-width: 1200px;  /* Задайте максимальную ширину контейнера */
    margin: auto;  /* Центрируйте контейнер */
}

/* Пример для кнопки */
.stButton button {
    background-color: #F39C12;
    color: #FFFFFF;
}
